body{
    background-color: #f5f5f5; /*Cor de fundo*/
    margin: 0;
    padding: 20px;
    color: #333; /*Cor do texto*/
}

h1{
    color:#E6B5B0;
    text-align: center;
    margin-bottom: 10px;
}

h4{
    color:darkslategrey;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-between;
    flex-direction: row;
}

.galeria-item {
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.7);
    padding: 10px;
    flex: 1 1 calc(33.33% - 20px);
    text-align: center;
}

.galeria-item h4{
    margin: 10px 0px;
    color: #344;
    font-size: 23px;
}

.galeria-item img{
    height: 400px;
    width: 400px;
    border-radius: 8px;
    margin: 5px;
    transition: transform 0.6s ease;
}

.galeria-item img:hover{
    transform: scale(1.45);
}

