body{
    background-color: #f5f5f5; /*Cor de fundo*/
    margin: 0;
    padding: 20px;
    color: #333; /*Cor do texto*/
}

h1{
    color:crimson;
    text-align: center;
    margin-bottom: 10px;
}

h4{
    color:darkslategrey;
}

.galeria{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: space-between;
}

.galeria-item{
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 10px;
    flex: 1 1 calc(33.33% - 20px);
    text-align: center;
}